<div class="container-fluid table-div">

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
    The actual rendered columns are set as a property on the row definition" -->

    <!-- AVatar Column -->
    <ng-container matColumnDef="avatar">
      <th mat-header-cell *matHeaderCellDef><strong>Avatar</strong></th>
      <td mat-cell *matCellDef="let element"> <img src="{{element.avatar}}" alt="Profile Image"> </td>
    </ng-container>

    <!-- Email Column -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef><strong>Email</strong></th>
      <td mat-cell *matCellDef="let element"> {{element.email}} </td>
    </ng-container>

    <!-- First Name Column -->
    <ng-container matColumnDef="firstname">
      <th mat-header-cell *matHeaderCellDef> <strong>First Name</strong></th>
      <td mat-cell *matCellDef="let element"> {{element.first_name}} </td>
    </ng-container>

    <!-- Last Name Column -->
    <ng-container matColumnDef="lastname">
      <th mat-header-cell *matHeaderCellDef><strong>Last Name</strong></th>
      <td mat-cell *matCellDef="let element"> {{element.last_name}} </td>
    </ng-container>

    <!-- Action Column -->
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef><strong>Action</strong></th>
      <td mat-cell *matCellDef="let element">
        <div class="icons-div">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 edit" fill="none" viewBox="0 0 24 24"
            stroke="currentColor" (click)="addUpdate('edit',element)">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z" />
          </svg>
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 delete" fill="none" viewBox="0 0 24 24"
            stroke="currentColor" (click)="addUpdate('delete',element)">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
          </svg>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <div class="add-button-div">
    <button class="btn btn-primary" (click)="addUser()">Add User</button>
  </div>
  <hr>
</div>
