table {
  width: 100%;
}
.table-div {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
th {
  text-align: center;
}
img {
  padding: 20px 0px;
}
.icons-div {
  display: flex;
  gap: 10px;
}
.edit,
.delete {
  height: 25px;
  width: 25px;
}
svg {
  cursor: pointer;
}
.add-button-div {
  padding: 10px 0px;
}
